#modalContent.ers-modal-type #modal-content {
    padding: 0;
    overflow: hidden;
    height: 100% !important;
    width: 100% !important;
    z-index: 0;
    padding-top: 25px;
    box-sizing: border-box;
}

#modalContent.ers-modal-type .ctools-modal-content {
    position: relative;
}

#modalContent.ers-modal-type .modal-header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 25px;
    z-index: 1;
}

#modalContent.ers-modal-type



#ers-modal-available {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 25px;
    right: 30%;
    bottom: 0px;
    left: 0px;
    padding: 10px;
}

#ers-modal-toolbox {
    position: absolute;
    overflow: hidden;
    top: 25px;
    right: 0px;
    bottom: 0px;
    left: 70%;
    border-left: 1px solid #aaa;
}

#ers-modal-toolbox form {
    position: relative;
    height: 100%;
    width: 100%;
}

#ers-modal-toolbox form input[type="hidden"] {
    display: none;
}

#ers-modal-toolbox form > div {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
}

#ers-modal-toolbox .ers-toolbox-element {
    display: table-row;
    width: 100%;
    margin: 0;
}

#ers-modal-toolbox .ers-toolbox-element > div {
    display: table-cell;
    width: 100%;
}

#edit-add-new {
    padding: 10px;
}

#ers-modal-toolbox .form-actions {
    padding: 10px;
}

#ers-modal-toolbox .form-submit,
#ers-modal-toolbox .form-item {
    margin: 0;
}

#ers-modal-selected-wrapper {
    height: 100%;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

#ers-modal-selected {
    height: 100%;
    width: 100%;
    overflow: auto;
}

#ers-modal-selected .ers-modal-selected-row {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

#ers-modal-node-add {
    height: 100%;
    overflow: auto;
    padding: 10px;
}